<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itsm.pub.courses.patients.worker.mapper.SaleMapper">

    <resultMap id="productSaleResultMap" type="com.itsm.pub.courses.patients.common.entities.ProductSale">
        <id column="ps_id" property="id"/>
        <result column="ps_date" property="date"/>
        <result column="product_id" property="product.id"/>
        <result column="product_name" property="product.name"/>
        <result column="product_state_id" property="product.state.id"/>
        <result column="product_state_code" property="product.state.code"/>
        <result column="product_state_name" property="product.state.name"/>
        <result column="patient_id" property="patient.id"/>
        <result column="patient_phone" property="patient.phone"/>
        <result column="patient_state_id" property="patient.state.id"/>
        <result column="patient_state_code" property="patient.state.code"/>
        <result column="patient_state_name" property="patient.state.name"/>

    </resultMap>


    <select id="getSale" resultMap="productSaleResultMap" parameterType="Integer">
        select ps.id        ps_id,
               ps.date      ps_date,
               pr.id        product_id,
               pr.name      product_name,
               pr.state_id  product_state_id,
               pat.id       patient_id,
               pat.phone    patient_phone,
               pat.state_id patient_state_id,
               pat_s.code   patient_state_code,
               pat_s.name   patient_state_name,
               pr_s.code    product_state_code,
               pr_s.name    product_state_name
        from product_sale ps
                 inner join product pr on ps.product_id = pr.id
                 inner join patient pat on ps.patient_id = pat.id
                 inner join state pat_s on pat.state_id = pat_s.id
                 inner join state pr_s on pr.state_id = pr_s.id
        where ps.id = #{value}
    </select>

    <select id="getSaleList" resultMap="productSaleResultMap">
        select ps.id        ps_id,
               ps.date      ps_date,
               pr.id        product_id,
               pr.name      product_name,
               pr.state_id  product_state_id,
               pat.id       patient_id,
               pat.phone    patient_phone,
               pat.state_id patient_state_id,
               pat_s.code   patient_state_code,
               pat_s.name   patient_state_name,
               pr_s.code    product_state_code,
               pr_s.name    product_state_name
        from product_sale ps
                 inner join product pr on ps.product_id = pr.id
                 inner join patient pat on ps.patient_id = pat.id
                 inner join state pat_s on pat.state_id = pat_s.id
                 inner join state pr_s on pr.state_id = pr_s.id
    </select>
</mapper>
