<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver"   value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"      value="jdbc:mysql://localhost:3306/american_medical_app"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.itsm.reporter.mappers.AuditOperationMapper"/>
        <mapper class="com.itsm.reporter.mappers.ClientMapper"/>
        <mapper class="com.itsm.reporter.mappers.StateMapper"/>
        <mapper class="com.itsm.reporter.mappers.ProductMapper"/>
        <mapper class="com.itsm.reporter.mappers.TransactionMapper"/>


    </mappers>
</configuration>